doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    link(rel='stylesheet', href='/css/ui.css')

  body
    h1
      | Material Design
      br
      | Button in pure CSS
      small Click it!
    .button
      input#expand.button-checkbox(type='checkbox')
      label.button-trigger(for='expand')
        i.material-icons add
      .button-option
        i.material-icons favorite
      .button-option
        i.material-icons face
      #fingerprint.button-option(type='button')
        i.material-icons fingerprint
    

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/ui.js')
