doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter

  body
    img(src=streamip alt="http://localhost:8091")
    h1
      | Welcome
      br
      | KMUTNB Access Control
      small TRY IT OUT!
    .button#expand.notClick
      //- input#expand.button-checkbox(type='checkbox')
      //- label.button-trigger(for='expand')
      .button-adminMode(type='button')
        i.material-icons fingerprint
      .button-option#delete(type='button')
        i.material-icons delete
      .button-option#add(type='button')
        i.material-icons add
      
    script(src='/js/vendors.bundle.js')
    script(src='/js/ui.bundle.js')
    

      
