@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// @import '~material';

@import 'node_modules/compass-mixins/lib/compass';
@import 'node_modules/compass-mixins/lib/compass/css3';
@import 'node_modules/compass-mixins/lib/compass/reset';

// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/ZLqKeelYbATG60EpZBSDy4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/oHi30kwQWvpCWqAhzHcCSIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/rGvHdJnr2l75qb0YND9NyIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/mx9Uck6uB63VIKFYnEMXrYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/mbmhprMH69Zi6eEPBYVFhYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }


@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@function get($map, $keys...) {
  @each $key in $keys {
		$map: map-get($map, $key);
  }
  @return $map;
}

$shadow: 0 6px 4px 0px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
$button: (
	'size': 70px,
	'position': 10%,
	'transition': all .34s ease-in-out,
	'color': (
		'brand': #1976D2,
		'accent': #2196F3,
		'light': #ffffff,
		'dark': #000000
	)
);

%center-position {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
	@include font-smoothing(on);
	@include user-select(none);
	&:before, &:after {
		@extend *;
	}
}

h1 {
  @extend %center-position;
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 140%;
	color: rgba(black, .54);

  small {
    display: block;
    font-size: 16px;
  }
}

.button {
  position: absolute;
	bottom: get($button, position);
	right: get($button, position);
	width: get($button, size);
	height: get($button, size);

	&-checkbox {
		display: none;
	}

	&-adminMode {
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: get($button, color, accent);
		@include transition(get($button, transition));
		@include border-radius(50%);
		@include box-shadow($shadow);
	}


	.material-icons {
		@extend %center-position;
		z-index: 5;
		color: get($button, color, light);
		@include transform(translate(-50%, -50%) rotate(0));
		@include transition(get($button, transition));
	}

	&-option {
		@extend %center-position;
		z-index: -1;
		width: 80%;
		height: 80%;
		cursor: pointer;
		background-color: get($button, color, light);
		@include border-radius(50%);
		@include transition(get($button, transition));
		@include box-shadow($shadow);
		&:hover {
			background-color: get($button, color, accent);
			.material-icons {
				color: get($button, color, light);
			}
		}
		&:active {
			background-color: get($button, color, brand);
		}
		.material-icons {
			color: rgba(get($button, color, dark), .54);
			@include transition(all .3s ease);
		}
	}

}


.button.clicked{
  .button{
    &-adminMode > .material-icons {
      @include transform(translate(-50%, -50%) rotate(225deg));
    }

    &-option {
      &:nth-of-type(2) {
        @include transform(translate(-50%, -440%));
      }
      &:nth-of-type(3) {
        @include transform(translate(-50%, -320%));
      }
      &:nth-of-type(4) {
        @include transform(translate(-50%, -200%));
      }
    }
  }
}
